*{
	margin:0;
	padding:0; 
}
#main{
	position: relative;
}
.box{
	padding:15px 0 0 15px;/*不用margin offsetWidth 得到的高度不包括margin*/
	float: left;
}
.pic{
	padding:10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow:0 0 5px #ccc;
}
.pic img{
	width: 165px;/*瀑布流布局的特点等宽不等高*/
	height: auto;
}